.splash-button {
	display: block;
	width: 100%;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(94, 97, 249);
	padding: 14px 28px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
}

.splash-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	max-width: 300px;
}

.supporters {
	margin-top: 50px;
	margin-bottom: 50px;	
}

.supporters-title {
	width: 100%;
	color: rgb(0, 0, 0);
	font-weight: 600;
	text-align: center;
}

.supporters-list {
	text-align: center;
	margin-top: 25px;
}

.supporters-list img {
	display: inline-block;
	height: 125px;
	width: 200px;
}

#getStartedModal .modal-dialog {
	width: 35%;
}

#getStartedModal .modal-content {
	padding: 15px 40px;
	min-height: 500px;
}

#getStartedModal .close-button {
	float: right;
}

#getStartedModal .title {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}

#getStartedModal .legal {
	font-size: 10px;
	text-align: center;
}

#getStartedModal .security img {
	display: block;
	max-height: 75px;
	max-width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#getStartedModal .private img {
	display: block;
	max-height: 25px;
	max-width: 25px;
	margin-left: auto;
	margin-right: auto;
}

#getStartedModal .private .subtitle {
	color: #999;
}

#getStartedModal .private-content {
	margin-left: 5px;
	font-size: 14px;
}

.continue-button {
	display: block;
	width: 100%;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(94, 97, 249);
	padding: 14px 28px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	margin-top: 20px;
}
#getStartedModal .payroll .col-sm-6 {
	padding: 2px;
}

#getStartedModal .payroll img {
	display: block;
	height: 80px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
	border: 1px solid #999;
	border-radius: 5px;
}

.share-credentials-button {
	display: block;
	width: 100%;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(94, 97, 249);
	padding: 14px 28px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
}

#getStartedModal .payroll-provider-selected img {
	display: block;
	max-height: 150px;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	margin-bottom: 35px;
}

#getStartedModal .payroll-provider-credentials input {
	height: 50px;
	font-size: 20px;
}

@keyframes shake {
	0% { margin-left: 0rem; }
	25% { margin-left: 0.5rem; }
	75% { margin-left: -0.5rem; }
	100% { margin-left: 0rem; }
}

.input-error {
	animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em black;
}

.arrow-left {
  border: solid #999;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}