#signup-modal .select-provider-page-contents {
	padding: 15px 5px;
}

#signup-modal .payroll-provider-list {
	height: 335px;
	overflow-y: scroll;
}

#signup-modal .payroll-provider-list::-webkit-scrollbar {
	display: none;
}

#signup-modal .payroll {
	padding-left: 15px;
	padding-right: 15px;
}

#signup-modal .payroll .col-sm-6 {
	padding: 4px;
}

#signup-modal .payroll img {
	display: block;
	height: 80px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 30px;
	border: 1px solid #999;
	border-radius: 5px;
}

#signup-modal .payroll img:hover {
	border: 1.5px solid #999;
}

#signup-modal .other-payroll-provider {
	text-align: center;
	display: block;
	margin-top: 20px;
}

#signup-modal .select-other-payroll-provider {	
	color: black;
}

#signup-modal .select-other-payroll-provider:hover {
	cursor: pointer;
	text-decoration: none;
	color: #999;
}