<div class="header">
  <a href="/" class="logo">Verix</a>
  <div class="header-right">
  	<button type="button" data-toggle="modal" data-target="#signup-modal" class="block-button">Get Started</button>
  </div>
</div>