<div class="header">
  <a href="/" class="logo">Verix</a>
  <div class="header-right">
	<button type="button" onclick="location.href='/get-started';" class="block-button">Get Started</button>
  </div>
</div>