<div class="footer">
  <div class="row footer-info">
    <div class="col-md-8">
      <a href="/" class="logo">Verix</a>
    </div>
    <div class="col-md-4 footer-links">
      <a href="/about" class="footer-link">About</a>
      <a href="/faq" class="footer-link">FAQ</a>
      <a href="mailto:support@verix.com" class="footer-link">Support</a>
      <a href="mailto:contact@verix.com" class="footer-link">Contact</a>
    </div>
  </div>
  <div class="row footer-legal">
    <div class="col-md-8">
      <a href="/">@2019, Verix, Inc. All Rights Reserved</a>
    </div>
    <div class="col-md-4 footer-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-of-service">Terms of Service</a>
    </div>    
  </div>
</div>