<div class="footer">
  <div class="row footer-info">
    <div class="col-md-8">
      <a href="/" class="logo">Verix</a>
    </div>
    <div class="col-md-4 footer-links">
      <a href="/home/about" class="footer-link">About</a>
      <a href="/home/faq" class="footer-link">FAQ</a>
      <a href="/home/contact" class="footer-link">Contact Us</a>
    </div>
  </div>
  <div class="row footer-legal">
    <div class="col-md-8">
      <a href="/">@2019, Verix, Inc. All Rights Reserved</a>
    </div>
    <div class="col-md-4 footer-links">
      <a href="/home/privacy_policy">Privacy Policy</a>
      <a href="/home/terms_of_service">Terms of Service</a>
    </div>    
  </div>
</div>