<div class="header">
  <a href="#default" class="logo">Verix</a>
  <div class="header-right">
	<button type="button" class="block-button">Get Started</button>
  </div>
</div>



<!-- <div class="container splash-navbar">
	<div class="splash-navbar-logo-container">
		<a href="/" class="splash-navbar-logo">Payrollid</a>
	</div>
	<div class="splash-navbar-link-container">
		<a class="splash-navbar-link" href="/motivation">Why Payrollid?</a>
		<a class="splash-navbar-link" href="/login">Login</a>
	</div>
</div> -->