<div class="row">
	<div class="col-md-6 main-description">
		<h2>The easiest way to access your tax forms</h2>
		<p>
			Verix helps people quickly access their W-2, W-4, &amp; 1099 tax forms so tax season can be a little bit simpler
		</p>
		<button type="button" class="block-button">Get Started</button>
	</div>
	<div class="col-sm-6">
		<%= image_tag("human-calculator.png", class: "main-image") %>
	</div>
</div>