<div class="row">
	<h4 class="supporters-title">Trusted &amp; Supported By</h4>
</div>
<div class="row supporters-list">
	<div class="col-md-4">
		<%= image_tag("index-ventures.png", class: "supporters-image") %>
	</div>
	<div class="col-md-4">
		<%= image_tag("pear.png", class: "supporters-image") %>
	</div>
	<div class="col-md-4">
		<%= image_tag("stanford.png", class: "supporters-image") %>
	</div>
</div>