<div class="header-container">
	<%= render "header" %>
</div>
<div class="about-container">
	<div class="row">
		<div class="col-sm-6 about-description">
			<h2>About Verix</h2>
			<br/>
			<p>
				<b>We help businesses working with global talent.</b>
			</p>
			<p>
				Verix’s mission is to create a world where talents are not limited to a location. By making the most complicated tasks simple and personal, Verix is reimagining payouts for businesses working with independent contractors internationally.			
			</p>
		</div>
		<div class="col-sm-6">
			<%= image_tag("us.png", class: "about-image") %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<b>The Problem</b>
				<br/><br/>
				Onboarding your contractor and managing international payment can get messy and complicated. The whole process is often done manually and involves a lot of paperwork, spreadsheets, timesheets and time. A LOT of time.	
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<b>The Solution</b>
				<br/><br/>
				Nobody should have to go through that every month. Verix makes the whole process a lot easier while ensuring your contractors are always paid on time with a payment method of their choice.
				Using Deel for payouts is easy. Onboarding your contractors and setting up contracts with them will take one minute and you are all set. At the agreed time of the month, you make a single payment, regardless of the amount of contractors you have, and we take care of the distribution.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<b>Who we are</b>
				<br/><br/>
				We are a team of entrepreneurs who love building useful and innovative products. We come from six countries over three continents and unite over great ideas. Our founders are MIT alumni, passionate about product design.
			</p>
		</div>		
	</div>
</div>
<div class="footer-container">
	<%= render "footer" %>
</div>
