<div class="container col-sm-12">
	<div class="row">
		<h1>Frequently Asked Questions</h1>
		<br/><br/><br/>
		<p>
			For your convenience we gathered a list of frequently asked questions. If your question is not answered below, reach out to us via our live chat, or via email at help@salary-benchmark.com
		</p>
	</div>
	<div class="row">
		<h3>What is this service?</h3>
		<br/><br/>
		<p>
	        Salary Benchmark is a free service funded by Stanford University that lets individuals compare their annual 
		salary with the average for someone with similar skills, responsibilities, or tenure. We make it easy for 
		people to see whether they are getting paid enough by their current employer. Every time someone uses Salary Benchmark
		to compare their compensation level, their salary data gets anonymously added to our database of millions of employees,
		keeping our service accurate and up-to-date. Salary Benchmark is the fastest, easiest, and safest way to make sure 
		you're getting paid what you're worth!
	    </p>
	</div>
	<div class="row">
	    <h3>Where is your salary data coming from?</h3>
		<br/><br/>
	    <p>
		When an individual uses Salary Benchmark, he or she can securely log into his or her payroll account, allowing
		Salary Benchmark to pull the latest paystub. Salary Benchmark then compares that paystub data against millions of other
		paystubs users have uploaded to the site. We only store and display anonymized data - your personal information is never
		shared with anyone.
	    </p>
	</div>
	<div class="row">
	    <h3>What do I get from this service?</h3>
		<br/><br/>
	    <p>
	        When you share your paystub information with Salary Benchmark, you unlock the ability to compare your payment level against
		an anonymized dataset of similar employees. Using our built-in filters, you can compare by job title, tenure, responsibilities, 
		educational background, geography, and more. Salary Benchmark will display your level of pay versus the group average, bottom 
		quartile, and top quartile.
	    </p>
	</div>
	<div class="row">
		<h3>What information do I need to provide?</h3>
		<br/><br/>
		<p>
	        To use this service, you must log into your current payroll account. For most users, this means providing their work email address 
		and login password for the payroll provided that their employer uses. Simply select your company's payroll provider from 
		our set of integrated partners and then enter your email and passowrd, as you would to log in and view your paystub normally.
	    </p>
	</div>
	<div class="row">
	    <h3>What do you do with my data?</h3>
		<br/><br/>
	    <p>
	        Salary Benchmark uses your anonymized data to keep our benchmarking infromation up-to-date. Beyond that, we do not store, 
		archive, sell, or re-market any of your personal data. You will never receive any spam or promotional materials from us.
	    </p>
	</div>
	<div class="row">
	    <h3>How do you make money?</h3>
		<br/><br/>
	    <p>
		Salary Benchmark is an entirely free service for consumers. Any individual can utilize our site to compare their 
		earnings at no charge. We generate revenue from enterprise customers who sometimes integrate our product on their
	        websites. Your data here is never sent to them, however.
	    </p>
	</div>
</div>
