<div class="container col-sm-12">
	<div class="row">
		<h1>Frequently Asked Questions</h1>
		<br/><br/><br/>
		<p>
			For your convenience we gathered a list of frequently asked questions. If your question is not answered below, reach out to us via our live chat, or via email at help@verix.com
		</p>
	</div>
	<div class="row">
		<h3>What is this service?</h3>
		<br/><br/>
		<p>
	        GetMyTaxTranscript.com is a free service funded by
	        Stanford University allowing individuals to download historical copies of their tax
	        returns and W2s. These forms are often required for mortgages, auto loans,
	        personal lines of credit, or various other products and services. However, many
	        individuals don’t have copies readily on hand. GetMyTaxTranscript is the fastest
	        way to download secure copies of your old files.
	    </p>
	</div>
	<div class="row">
	    <h3>Where are the files coming from?</h3>
		<br/><br/>
	    <p>
		    Your tax return and W2 information is stored
		    on file at the IRS. GetMyTaxTranscript sends your information to the IRS to
		    retrieve and deliver your returns directly to you.
	    </p>
	</div>
	<div class="row">
	    <h3>What do I get from this service?</h3>
		<br/><br/>
	    <p>
	        We provide the last three years of “tax
	        return transcripts” and “wages and income transcripts.” These files include
	        nearly all of the line items from your original tax returns you filed with the
	        government. The files that we return to you are acceptable as valid proof of
	        income and prior employment by nearly all financial products and services.
	    </p>
	</div>
	<div class="row">
		<h3>What information do I need to provide?</h3>
		<br/><br/>
		<p>
	        To use this service, you must provide
	        your name, date of birth, filing address, SSN, a financial account in your name
	        (for identity verification), and a US mobile phone number in your name (also for
	        identity verification). Yes, this is a lot of personal data, but it is what the
	        government requires to release copies of your old files. Without sufficient levels
	        of identity verification, fraudsters could potentially take your data without your
	        knowledge or consent.
	    </p>
	</div>
	<div class="row">
	    <h3>What do you do with my data?</h3>
		<br/><br/>
	    <p>
	        GetMyTaxTranscript does not store, archive,
	        sell, or re-market any of your personal data. All of the data you provide to us is
	        used only to pull your old returns for you. We allow you to download your
	    </p>
	</div>
	<div class="row">
	    <h3>How do you make money?</h3>
		<br/><br/>
	    <p>
			GetMyTaxTranscript is an entirely free
			service for consumers. Any individual can utilize our site to pull their old data at
	        no charge. We generate revenue from enterprise customers (online lenders,
	        financial data companies, etc) who sometimes integrate our software on their
	        websites. Your data here is never sent to them, however.
	    </p>
	</div>
</div>