<div class="header-container">
	<%= render "header" %>
</div>
<div class="main-container">
	<%= render "main" %>
</div>
<div class="supporters-container">
	<%= render "supporters" %>
</div>
<div class="footer-container">
	<%= render "footer" %>
</div>