<div class="container">
	<div class="row">
		<div class="col-sm-6 splash-description">
			<h2>The easiest way to compare your salary</h2>
			<p>
				Verix helps people compare their salary versus others. Benchmark your salary by industry, tenure, and geography instantly, and make sure you're being fairly compensated!
			</p>
			<button type="button" data-toggle="modal" data-target="#signup-modal" class="splash-button">Get Started</button>
		</div>
		<div class="col-sm-6">
			<%= image_tag("human-calculator.png", class: "splash-image") %>
		</div>
	</div>
</div>
<div class="container supporters">
	<div class="row">
		<h4 class="supporters-title">Trusted &amp; Supported By</h4>
	</div>
	<div class="row supporters-list">
		<div class="col-md-4">
			<%= image_tag("index-ventures.png", class: "supporters-image") %>
		</div>
		<div class="col-md-4">
			<%= image_tag("pear.png", class: "supporters-image") %>
		</div>
		<div class="col-md-4">
			<%= image_tag("stanford.png", class: "supporters-image") %>
		</div>
	</div>
</div>
