<div class="confirmation-page">
	<div class="confirmation-page-contents">
		<div class="row">
			<div class="col-sm-12 confirmation">
				<h3 class="confirmation-headline">That's all, thank you!</h3>
				<%= image_tag("high-standards.svg", class: "share-credentials-confirmation-image") %>
				<p>
					Your registration is complete. We'll reachout to you shortly with all your tax forms.
				</p>
				<button type="button" class="confirmation-close-button" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>