<div class="provider-not-found-page">
	<div class="provider-not-found-page-contents">
		<div class="row">
			<div class="col-sm-12 provider-not-found">
				<h3 class="provider-not-found-headline">We need some time.</h3>
				<%= image_tag("human-calculator.png", class: "provider-not-found-image") %>
				<p>
					We could not find your payroll provider. We'll continue to work on finding your provider and reachout to you shortly with all your tax forms.
				</p>
				<button type="button" class="provider-not-found-close-button" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>