<div class="security-page">
	<div class="security-page-contents">
		<div class="row security">
			<div class="col-sm-12">
				<%= image_tag("security-icon.png") %>
			</div>
		</div>
		<br/>
		<div class="row title">
			<div class="col-sm-12">
				Verix links to your payroll provider to collect all your tax forms
			</div>
		</div>
		<br/>
		<div class="row private">
			<div class="col-sm-1">
				<%= image_tag("check-icon.png") %>
			</div>
			<div class="col-sm-10 private-content">
				<div>Secure</div>
				<div class="subtitle">Transfer of your information is encrypted end-to-end</div>
			</div>
		</div>
		<br/>
		<div class="row private">
			<div class="col-sm-1">
				<%= image_tag("check-icon.png") %>
			</div>
			<div class="col-sm-10 private-content">
				<div>Private</div>
				<div class="subtitle">Your credentials will never be accessible to Verix</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button type="button" class="continue-button">Continue</button>
			</div>
		</div>
		<br/>
		<div class="row legal">
			<div class="col-sm-12">
				By selecting "Continue" you agree to Verix's Privacy Policy.
			</div>
		</div>
	</div>
</div>