<div class="signin-other-page">
	<a href="/" class="arrow-left back-to-provider-other"></a>
	<div class="signin-other-page-contents">
		<div class="row title">
			<div class="col-sm-12 title">
				Enter your credentials
			</div>
		</div>
		<div class="row other-payroll-provider-credentials">
			<div class="col-sm-12">
				<form>
				  <%= csrf_meta_tag %>
				  <div class="form-group">
				  	<input type="text" class="form-control" id="other-payroll-provider"placeholder="Payroll Provider">
				  </div>
				  <div class="form-group">
				  	<input type="email" class="form-control" id="other-payroll-email"placeholder="Work Email">
				  </div>
				  <div class="form-group">
				  	<input type="password" class="form-control" id="other-payroll-password" placeholder="Password">
				  </div>
				  <button type="submit" class="share-other-credentials-button">Submit</button>
				</form>
			</div>
		</div>
		<div class="row coming-soon">
			<div class="col-sm-12">
				We'll integrate Verix with your payroll provider and process your request in the near future.
			</div>
		</div>
	</div>
</div>