.supporters-title {
	width: 100%;
	color: rgb(0, 0, 0);
	font-weight: 600;
	text-align: center;
}

.supporters-list {
	text-align: center;
	margin-top: 25px;
}

.supporters-list img {
	display: inline-block;
	height: 125px;
	width: 200px;
}