<div class="container confirmation">
	<h1>That's all, thank you!</h1>
	<%= image_tag("high-standards.svg", class: "confirmation-image") %>
	<h3>Your registration is complete. We'll reachout to you shortly with all your tax forms.</h3>
</div>